# Filetypes
.DS_Store
.*.swp
.*.swo
.lso
*.prj
*.xst

# Directories
work/
products/
src/pll.vhd
src/SceneMem.vhd
src/SceneMem.ngc

# Xilinx
## Extensions
*.html
*.gise
*.xise
*.ngc
*.log
*.tcl
*.mif
*.sym
*.vho
*.asy
*.txt
*.xmsgs
*.cmd
*.exe
*.wdb
*.ini

## Directories
_xmsgs/
iseconfig/
ipcore_dir/*.vhd
ipcore_dir/*.ucf
ipcore_dir/*.xdc
ipcore_dir/instr_mem/
ipcore_dir/scene_mem/
ipcore_dir/pll/
ipcore_dir/tmp/
ipcore_dir/xlnx_auto_0_xdb/
_xmsgs/
isim/

## Specific files
src/instr_mem.vhd
