NET "clk" IOSTANDARD = LVCMOS33;
NET "clk" DRIVE = 12;
NET "clk" SLEW = FAST;
NET "clk" LOC = T10;

NET "instr_mem_addr[0]" IOSTANDARD = LVCMOS33;
NET "instr_mem_addr[1]" IOSTANDARD = LVCMOS33;
NET "instr_mem_addr[2]" IOSTANDARD = LVCMOS33;
NET "instr_mem_addr[3]" IOSTANDARD = LVCMOS33;
NET "instr_mem_addr[4]" IOSTANDARD = LVCMOS33;
NET "instr_mem_addr[5]" IOSTANDARD = LVCMOS33;
NET "instr_mem_addr[6]" IOSTANDARD = LVCMOS33;
NET "instr_mem_addr[7]" IOSTANDARD = LVCMOS33;
NET "instr_mem_addr[8]" IOSTANDARD = LVCMOS33;
NET "instr_mem_addr[9]" IOSTANDARD = LVCMOS33;
NET "instr_mem_addr[10]" IOSTANDARD = LVCMOS33;
NET "instr_mem_addr[11]" IOSTANDARD = LVCMOS33;
NET "instr_mem_addr[12]" IOSTANDARD = LVCMOS33;
NET "instr_mem_addr[13]" IOSTANDARD = LVCMOS33;
NET "instr_mem_addr[14]" IOSTANDARD = LVCMOS33;
NET "instr_mem_addr[15]" IOSTANDARD = LVCMOS33;
NET "instr_mem_addr[16]" IOSTANDARD = LVCMOS33;
NET "instr_mem_addr[17]" IOSTANDARD = LVCMOS33;
NET "instr_mem_addr[18]" IOSTANDARD = LVCMOS33;
NET "instr_mem_addr[0]" DRIVE = 12;
NET "instr_mem_addr[1]" DRIVE = 12;
NET "instr_mem_addr[2]" DRIVE = 12;
NET "instr_mem_addr[3]" DRIVE = 12;
NET "instr_mem_addr[4]" DRIVE = 12;
NET "instr_mem_addr[5]" DRIVE = 12;
NET "instr_mem_addr[6]" DRIVE = 12;
NET "instr_mem_addr[7]" DRIVE = 12;
NET "instr_mem_addr[8]" DRIVE = 12;
NET "instr_mem_addr[9]" DRIVE = 12;
NET "instr_mem_addr[10]" DRIVE = 12;
NET "instr_mem_addr[11]" DRIVE = 12;
NET "instr_mem_addr[12]" DRIVE = 12;
NET "instr_mem_addr[13]" DRIVE = 12;
NET "instr_mem_addr[14]" DRIVE = 12;
NET "instr_mem_addr[15]" DRIVE = 12;
NET "instr_mem_addr[16]" DRIVE = 12;
NET "instr_mem_addr[17]" DRIVE = 12;
NET "instr_mem_addr[18]" DRIVE = 12;
NET "instr_mem_addr[0]" SLEW = SLOW;
NET "instr_mem_addr[1]" SLEW = SLOW;
NET "instr_mem_addr[2]" SLEW = SLOW;
NET "instr_mem_addr[3]" SLEW = SLOW;
NET "instr_mem_addr[4]" SLEW = SLOW;
NET "instr_mem_addr[5]" SLEW = SLOW;
NET "instr_mem_addr[6]" SLEW = SLOW;
NET "instr_mem_addr[7]" SLEW = SLOW;
NET "instr_mem_addr[8]" SLEW = SLOW;
NET "instr_mem_addr[9]" SLEW = SLOW;
NET "instr_mem_addr[10]" SLEW = SLOW;
NET "instr_mem_addr[11]" SLEW = SLOW;
NET "instr_mem_addr[12]" SLEW = SLOW;
NET "instr_mem_addr[13]" SLEW = SLOW;
NET "instr_mem_addr[14]" SLEW = SLOW;
NET "instr_mem_addr[15]" SLEW = SLOW;
NET "instr_mem_addr[16]" SLEW = SLOW;
NET "instr_mem_addr[17]" SLEW = SLOW;
NET "instr_mem_addr[18]" SLEW = SLOW;
NET "instr_mem_addr[0]" LOC = D18;
NET "instr_mem_addr[1]" LOC = D17;
NET "instr_mem_addr[2]" LOC = G14;
NET "instr_mem_addr[3]" LOC = F14;
NET "instr_mem_addr[4]" LOC = C18;
NET "instr_mem_addr[5]" LOC = C17;
NET "instr_mem_addr[6]" LOC = F16;
NET "instr_mem_addr[7]" LOC = F15;
NET "instr_mem_addr[8]" LOC = H12;
NET "instr_mem_addr[9]" LOC = G13;
NET "instr_mem_addr[10]" LOC = E16;
NET "instr_mem_addr[11]" LOC = E18;
NET "instr_mem_addr[12]" LOC = K12;
NET "instr_mem_addr[13]" LOC = ;
NET "instr_mem_addr[14]" LOC = F17;
NET "instr_mem_addr[15]" LOC = F18;
NET "instr_mem_addr[16]" LOC = H13;
NET "instr_mem_addr[17]" LOC = H14;
NET "instr_mem_addr[18]" LOC = H15;
NET "instr_mem_data[0]" IOSTANDARD = LVCMOS33;
NET "instr_mem_data[1]" IOSTANDARD = LVCMOS33;
NET "instr_mem_data[2]" IOSTANDARD = LVCMOS33;
NET "instr_mem_data[3]" IOSTANDARD = LVCMOS33;
NET "instr_mem_data[4]" IOSTANDARD = LVCMOS33;
NET "instr_mem_data[5]" IOSTANDARD = LVCMOS33;
NET "instr_mem_data[6]" IOSTANDARD = LVCMOS33;
NET "instr_mem_data[7]" IOSTANDARD = LVCMOS33;
NET "instr_mem_data[8]" IOSTANDARD = LVCMOS33;
NET "instr_mem_data[9]" IOSTANDARD = LVCMOS33;
NET "instr_mem_data[10]" IOSTANDARD = LVCMOS33;
NET "instr_mem_data[11]" IOSTANDARD = LVCMOS33;
NET "instr_mem_data[12]" IOSTANDARD = LVCMOS33;
NET "instr_mem_data[13]" IOSTANDARD = LVCMOS33;
NET "instr_mem_data[14]" IOSTANDARD = LVCMOS33;
NET "instr_mem_data[15]" IOSTANDARD = LVCMOS33;
NET "instr_mem_data[0]" DRIVE = 12;
NET "instr_mem_data[1]" DRIVE = 12;
NET "instr_mem_data[2]" DRIVE = 12;
NET "instr_mem_data[3]" DRIVE = 12;
NET "instr_mem_data[4]" DRIVE = 12;
NET "instr_mem_data[5]" DRIVE = 12;
NET "instr_mem_data[6]" DRIVE = 12;
NET "instr_mem_data[7]" DRIVE = 12;
NET "instr_mem_data[8]" DRIVE = 12;
NET "instr_mem_data[9]" DRIVE = 12;
NET "instr_mem_data[10]" DRIVE = 12;
NET "instr_mem_data[11]" DRIVE = 12;
NET "instr_mem_data[12]" DRIVE = 12;
NET "instr_mem_data[13]" DRIVE = 12;
NET "instr_mem_data[14]" DRIVE = 12;
NET "instr_mem_data[15]" DRIVE = 12;
NET "instr_mem_data[0]" SLEW = SLOW;
NET "instr_mem_data[1]" SLEW = SLOW;
NET "instr_mem_data[2]" SLEW = SLOW;
NET "instr_mem_data[3]" SLEW = SLOW;
NET "instr_mem_data[4]" SLEW = SLOW;
NET "instr_mem_data[5]" SLEW = SLOW;
NET "instr_mem_data[6]" SLEW = SLOW;
NET "instr_mem_data[7]" SLEW = SLOW;
NET "instr_mem_data[8]" SLEW = SLOW;
NET "instr_mem_data[9]" SLEW = SLOW;
NET "instr_mem_data[10]" SLEW = SLOW;
NET "instr_mem_data[11]" SLEW = SLOW;
NET "instr_mem_data[12]" SLEW = SLOW;
NET "instr_mem_data[13]" SLEW = SLOW;
NET "instr_mem_data[14]" SLEW = SLOW;
NET "instr_mem_data[15]" SLEW = SLOW;
NET "instr_mem_data[0]" LOC = U18;
NET "instr_mem_data[1]" LOC = U17;
NET "instr_mem_data[2]" LOC = T18;
NET "instr_mem_data[3]" LOC = T17;
NET "instr_mem_data[4]" LOC = N16;
NET "instr_mem_data[5]" LOC = N15;
NET "instr_mem_data[6]" LOC = P18;
NET "instr_mem_data[7]" LOC = P17;
NET "instr_mem_data[8]" LOC = N18;
NET "instr_mem_data[9]" LOC = N17;
NET "instr_mem_data[10]" LOC = M18;
NET "instr_mem_data[11]" LOC = M16;
NET "instr_mem_data[12]" LOC = L18;
NET "instr_mem_data[13]" LOC = L17;
NET "instr_mem_data[14]" LOC = K18;
NET "instr_mem_data[15]" LOC = K17;

NET "fb_mem_addr[0]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[1]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[2]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[3]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[4]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[5]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[6]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[7]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[8]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[9]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[10]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[11]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[12]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[13]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[14]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[15]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[16]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[17]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[18]" IOSTANDARD = LVCMOS33;
NET "fb_mem_addr[0]" DRIVE = 12;
NET "fb_mem_addr[1]" DRIVE = 12;
NET "fb_mem_addr[2]" DRIVE = 12;
NET "fb_mem_addr[3]" DRIVE = 12;
NET "fb_mem_addr[4]" DRIVE = 12;
NET "fb_mem_addr[5]" DRIVE = 12;
NET "fb_mem_addr[6]" DRIVE = 12;
NET "fb_mem_addr[7]" DRIVE = 12;
NET "fb_mem_addr[8]" DRIVE = 12;
NET "fb_mem_addr[9]" DRIVE = 12;
NET "fb_mem_addr[10]" DRIVE = 12;
NET "fb_mem_addr[11]" DRIVE = 12;
NET "fb_mem_addr[12]" DRIVE = 12;
NET "fb_mem_addr[13]" DRIVE = 12;
NET "fb_mem_addr[14]" DRIVE = 12;
NET "fb_mem_addr[15]" DRIVE = 12;
NET "fb_mem_addr[16]" DRIVE = 12;
NET "fb_mem_addr[17]" DRIVE = 12;
NET "fb_mem_addr[18]" DRIVE = 12;
NET "fb_mem_addr[0]" SLEW = SLOW;
NET "fb_mem_addr[1]" SLEW = SLOW;
NET "fb_mem_addr[2]" SLEW = SLOW;
NET "fb_mem_addr[3]" SLEW = SLOW;
NET "fb_mem_addr[4]" SLEW = SLOW;
NET "fb_mem_addr[5]" SLEW = SLOW;
NET "fb_mem_addr[6]" SLEW = SLOW;
NET "fb_mem_addr[7]" SLEW = SLOW;
NET "fb_mem_addr[8]" SLEW = SLOW;
NET "fb_mem_addr[9]" SLEW = SLOW;
NET "fb_mem_addr[10]" SLEW = SLOW;
NET "fb_mem_addr[11]" SLEW = SLOW;
NET "fb_mem_addr[12]" SLEW = SLOW;
NET "fb_mem_addr[13]" SLEW = SLOW;
NET "fb_mem_addr[14]" SLEW = SLOW;
NET "fb_mem_addr[15]" SLEW = SLOW;
NET "fb_mem_addr[16]" SLEW = SLOW;
NET "fb_mem_addr[17]" SLEW = SLOW;
NET "fb_mem_addr[18]" SLEW = SLOW;
NET "fb_mem_addr[0]" LOC = D18;
NET "fb_mem_addr[1]" LOC = D17;
NET "fb_mem_addr[2]" LOC = G14;
NET "fb_mem_addr[3]" LOC = F14;
NET "fb_mem_addr[4]" LOC = C18;
NET "fb_mem_addr[5]" LOC = C17;
NET "fb_mem_addr[6]" LOC = F16;
NET "fb_mem_addr[7]" LOC = F15;
NET "fb_mem_addr[8]" LOC = H12;
NET "fb_mem_addr[9]" LOC = G13;
NET "fb_mem_addr[10]" LOC = E16;
NET "fb_mem_addr[11]" LOC = E18;
NET "fb_mem_addr[12]" LOC = K12;
NET "fb_mem_addr[13]" LOC = ;
NET "fb_mem_addr[14]" LOC = F17;
NET "fb_mem_addr[15]" LOC = F18;
NET "fb_mem_addr[16]" LOC = H13;
NET "fb_mem_addr[17]" LOC = H14;
NET "fb_mem_addr[18]" LOC = H15;
NET "fb_mem_data[0]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[1]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[2]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[3]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[4]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[5]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[6]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[7]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[8]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[9]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[10]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[11]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[12]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[13]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[14]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[15]" IOSTANDARD = LVCMOS33;
NET "fb_mem_data[0]" DRIVE = 12;
NET "fb_mem_data[1]" DRIVE = 12;
NET "fb_mem_data[2]" DRIVE = 12;
NET "fb_mem_data[3]" DRIVE = 12;
NET "fb_mem_data[4]" DRIVE = 12;
NET "fb_mem_data[5]" DRIVE = 12;
NET "fb_mem_data[6]" DRIVE = 12;
NET "fb_mem_data[7]" DRIVE = 12;
NET "fb_mem_data[8]" DRIVE = 12;
NET "fb_mem_data[9]" DRIVE = 12;
NET "fb_mem_data[10]" DRIVE = 12;
NET "fb_mem_data[11]" DRIVE = 12;
NET "fb_mem_data[12]" DRIVE = 12;
NET "fb_mem_data[13]" DRIVE = 12;
NET "fb_mem_data[14]" DRIVE = 12;
NET "fb_mem_data[15]" DRIVE = 12;
NET "fb_mem_data[0]" SLEW = SLOW;
NET "fb_mem_data[1]" SLEW = SLOW;
NET "fb_mem_data[2]" SLEW = SLOW;
NET "fb_mem_data[3]" SLEW = SLOW;
NET "fb_mem_data[4]" SLEW = SLOW;
NET "fb_mem_data[5]" SLEW = SLOW;
NET "fb_mem_data[6]" SLEW = SLOW;
NET "fb_mem_data[7]" SLEW = SLOW;
NET "fb_mem_data[8]" SLEW = SLOW;
NET "fb_mem_data[9]" SLEW = SLOW;
NET "fb_mem_data[10]" SLEW = SLOW;
NET "fb_mem_data[11]" SLEW = SLOW;
NET "fb_mem_data[12]" SLEW = SLOW;
NET "fb_mem_data[13]" SLEW = SLOW;
NET "fb_mem_data[14]" SLEW = SLOW;
NET "fb_mem_data[15]" SLEW = SLOW;
NET "fb_mem_data[0]" LOC = U18;
NET "fb_mem_data[1]" LOC = U17;
NET "fb_mem_data[2]" LOC = T18;
NET "fb_mem_data[3]" LOC = T17;
NET "fb_mem_data[4]" LOC = N16;
NET "fb_mem_data[5]" LOC = N15;
NET "fb_mem_data[6]" LOC = P18;
NET "fb_mem_data[7]" LOC = P17;
NET "fb_mem_data[8]" LOC = N18;
NET "fb_mem_data[9]" LOC = N17;
NET "fb_mem_data[10]" LOC = M18;
NET "fb_mem_data[11]" LOC = M16;
NET "fb_mem_data[12]" LOC = L18;
NET "fb_mem_data[13]" LOC = L17;
NET "fb_mem_data[14]" LOC = K18;
NET "fb_mem_data[15]" LOC = K17;

NET "dac_clk" IOSTANDARD = LVCMOS33;
NET "dac_clk" DRIVE = 12;
NET "dac_clk" SLEW = FAST;
NET "dac_sync" IOSTANDARD = LVCMOS33;
NET "dac_sync" DRIVE = 12;
NET "dac_sync" SLEW = FAST;
NET "dac_clk" LOC = A11;
NET "dac_sync" LOC = A12;
NET "dac0_data" IOSTANDARD = LVCMOS33;
NET "dac0_data" DRIVE = 12;
NET "dac0_data" SLEW = FAST;
NET "dac1_data" IOSTANDARD = LVCMOS33;
NET "dac1_data" DRIVE = 12;
NET "dac1_data" SLEW = FAST;
NET "dac0_data" LOC = B11;
NET "dac1_data" LOC = B12;

NET "reset_btn" IOSTANDARD = LVCMOS33;
NET "reset_btn" DRIVE = 12;
NET "reset_btn" SLEW = SLOW;
NET "reset_btn" LOC = A16;
NET "reset_btn" PULLUP;

NET "hdmi_clk" IOSTANDARD = LVDS_33;
NET "hdmi_red" IOSTANDARD = LVDS_33;
NET "hdmi_green" IOSTANDARD = LVDS_33;
NET "hdmi_blue" IOSTANDARD = LVDS_33;
NET "hdmi_clk" LOC = B2;
NET "hdmi_red" LOC = B3;
NET "hdmi_green" LOC = B4;
NET "hdmi_blue" LOC = B6;
