TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100 MHz;
NET clk LOC = T10 | IOSTANDARD = LVCMOS33 | TNM_NET = sys_clk_pin;

NET reset TIG | LOC = V13 | IOSTANDARD = LVCMOS33 | PULLDOWN;

NET sram_addr[0] LOC = F15 | IOSTANDARD = LVCMOS33;
NET sram_addr[1] LOC = F16 | IOSTANDARD = LVCMOS33;
NET sram_addr[2] LOC = C17 | IOSTANDARD = LVCMOS33;
NET sram_addr[3] LOC = C18 | IOSTANDARD = LVCMOS33;
NET sram_addr[4] LOC = F14 | IOSTANDARD = LVCMOS33;
NET sram_addr[5] LOC = G14 | IOSTANDARD = LVCMOS33;
NET sram_addr[6] LOC = D17 | IOSTANDARD = LVCMOS33;
NET sram_addr[7] LOC = D18 | IOSTANDARD = LVCMOS33;
NET sram_addr[8] LOC = H12 | IOSTANDARD = LVCMOS33;
NET sram_addr[9] LOC = G13 | IOSTANDARD = LVCMOS33;
NET sram_addr[10] LOC = E16 | IOSTANDARD = LVCMOS33;
NET sram_addr[11] LOC = E18 | IOSTANDARD = LVCMOS33;
NET sram_addr[12] LOC = K12 | IOSTANDARD = LVCMOS33;
NET sram_addr[13] LOC = K13 | IOSTANDARD = LVCMOS33;
NET sram_addr[14] LOC = F17 | IOSTANDARD = LVCMOS33;
NET sram_addr[15] LOC = F18 | IOSTANDARD = LVCMOS33;
NET sram_addr[16] LOC = H13 | IOSTANDARD = LVCMOS33;
NET sram_addr[17] LOC = H14 | IOSTANDARD = LVCMOS33;
NET sram_addr[18] LOC = H15 | IOSTANDARD = LVCMOS33;
##NET sram_addr[19] LOC = H16 | IOSTANDARD = LVCMOS33;	# Extra pins
##NET sram_addr[20] LOC = G16 | IOSTANDARD = LVCMOS33;	# Extra pins
##NET sram_addr[21] LOC = G18 | IOSTANDARD = LVCMOS33;	# Extra pins
##NET sram_addr[22] LOC = J13 | IOSTANDARD = LVCMOS33;	# Extra pins

NET sram_data[0] LOC = K14 | IOSTANDARD = LVCMOS33;
NET sram_data[1] LOC = L12 | IOSTANDARD = LVCMOS33;
NET sram_data[2] LOC = L13 | IOSTANDARD = LVCMOS33;
NET sram_data[3] LOC = K15 | IOSTANDARD = LVCMOS33;
NET sram_data[4] LOC = K16 | IOSTANDARD = LVCMOS33;
NET sram_data[5] LOC = L15 | IOSTANDARD = LVCMOS33;
NET sram_data[6] LOC = L16 | IOSTANDARD = LVCMOS33;
NET sram_data[7] LOC = H17 | IOSTANDARD = LVCMOS33;
NET sram_data[8] LOC = H18 | IOSTANDARD = LVCMOS33;
NET sram_data[9] LOC = J16 | IOSTANDARD = LVCMOS33;
NET sram_data[10] LOC = J18 | IOSTANDARD = LVCMOS33;
NET sram_data[11] LOC = K17 | IOSTANDARD = LVCMOS33;
NET sram_data[12] LOC = K18 | IOSTANDARD = LVCMOS33;
NET sram_data[13] LOC = L17 | IOSTANDARD = LVCMOS33;
NET sram_data[14] LOC = L18 | IOSTANDARD = LVCMOS33;
NET sram_data[15] LOC = M16 | IOSTANDARD = LVCMOS33;

NET sram_wen LOC = M18 | IOSTANDARD = LVCMOS33;
NET sram_ren LOC = N17 | IOSTANDARD = LVCMOS33;
NET fpga_cs LOC = N18 | IOSTANDARD = LVCMOS33;

#NET fb_addr[0] LOC = N4 | IOSTANDARD = LVCMOS33;
#NET fb_addr[1] LOC = N3 | IOSTANDARD = LVCMOS33;
#NET fb_addr[2] LOC = P4 | IOSTANDARD = LVCMOS33;
#NET fb_addr[3] LOC = P3 | IOSTANDARD = LVCMOS33;
#NET fb_addr[4] LOC = L6 | IOSTANDARD = LVCMOS33;
#NET fb_addr[5] LOC = M5 | IOSTANDARD = LVCMOS33;
#NET fb_addr[6] LOC = U2 | IOSTANDARD = LVCMOS33;
#NET fb_addr[7] LOC = U1 | IOSTANDARD = LVCMOS33;
#NET fb_addr[8] LOC = T2 | IOSTANDARD = LVCMOS33;
#NET fb_addr[9] LOC = T1 | IOSTANDARD = LVCMOS33;
#NET fb_addr[10] LOC = P2 | IOSTANDARD = LVCMOS33;
#NET fb_addr[11] LOC = P1 | IOSTANDARD = LVCMOS33;
#NET fb_addr[12] LOC = N2 | IOSTANDARD = LVCMOS33;
#NET fb_addr[13] LOC = N1 | IOSTANDARD = LVCMOS33;
#NET fb_addr[14] LOC = M3 | IOSTANDARD = LVCMOS33;
#NET fb_addr[15] LOC = M1 | IOSTANDARD = LVCMOS33;
#NET fb_addr[16] LOC = L2 | IOSTANDARD = LVCMOS33;
#NET fb_addr[17] LOC = L1 | IOSTANDARD = LVCMOS33;
#NET fb_addr[18] LOC = K2 | IOSTANDARD = LVCMOS33;

NET fb_data[0] LOC = K1 | IOSTANDARD = LVCMOS33;
NET fb_data[1] LOC = L4 | IOSTANDARD = LVCMOS33;
NET fb_data[2] LOC = L3 | IOSTANDARD = LVCMOS33;
NET fb_data[3] LOC = J3 | IOSTANDARD = LVCMOS33;
NET fb_data[4] LOC = J1 | IOSTANDARD = LVCMOS33;
NET fb_data[5] LOC = H2 | IOSTANDARD = LVCMOS33;
NET fb_data[6] LOC = H1 | IOSTANDARD = LVCMOS33;
NET fb_data[7] LOC = K4 | IOSTANDARD = LVCMOS33;
NET fb_data[8] LOC = K3 | IOSTANDARD = LVCMOS33;
NET fb_data[9] LOC = L5 | IOSTANDARD = LVCMOS33;
NET fb_data[10] LOC = K5 | IOSTANDARD = LVCMOS33;
NET fb_data[11] LOC = H4 | IOSTANDARD = LVCMOS33;
NET fb_data[12] LOC = H3 | IOSTANDARD = LVCMOS33;
NET fb_data[13] LOC = L7 | IOSTANDARD = LVCMOS33;
NET fb_data[14] LOC = K6 | IOSTANDARD = LVCMOS33;
NET fb_data[15] LOC = G3 | IOSTANDARD = LVCMOS33;

#NET fb_wen LOC = G1 | IOSTANDARD = LVCMOS33;
#NET fb_ren LOC = J7 | IOSTANDARD = LVCMOS33;
#NET fb_cs LOC = J6 | IOSTANDARD = LVCMOS33;

NET dac_clk LOC = A11  | IOSTANDARD = LVCMOS33;
NET dac_sync LOC = A12  | IOSTANDARD = LVCMOS33;
NET dac0_data LOC = B11  | IOSTANDARD = LVCMOS33;
NET dac1_data LOC = B12  | IOSTANDARD = LVCMOS33;

NET vref_sleep LOC = A8 | IOSTANDARD = LVCMOS33 | PULLUP;

#NET hdmi_clk LOC = B2 |  IOSTANDARD = LVDS33;
#NET hdmi_clk_N LOC = A2 |  IOSTANDARD = LVDS33;
#NET hdmi_red LOC = B3  |  IOSTANDARD = LVDS33;
#NET hdmi_red_N LOC = A3  |  IOSTANDARD = LVDS33;
#NET hdmi_green LOC = B4  |  IOSTANDARD = LVDS33;
#NET hdmi_green_N LOC = A4  |  IOSTANDARD = LVDS33;
#NET hdmi_blue LOC = B6  |  IOSTANDARD = LVDS33;
#NET hdmi_blue_N LOC = A6  |  IOSTANDARD = LVDS33;
