NET "clk" IOSTANDARD = LVCMOS33;
NET "clk" DRIVE = 12;
NET "clk" SLEW = FAST;
NET "clk" LOC = T10;

#NET "instr_mem_addr[0]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_addr[1]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_addr[2]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_addr[3]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_addr[4]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_addr[5]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_addr[6]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_addr[7]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_addr[8]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_addr[9]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_addr[10]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_addr[11]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_addr[12]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_addr[13]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_addr[14]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_addr[15]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_addr[16]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_addr[17]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_addr[18]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_addr[19]" IOSTANDARD = LVCMOS33;	# Extra pins
#NET "instr_mem_addr[20]" IOSTANDARD = LVCMOS33;	# Extra pins
#NET "instr_mem_addr[21]" IOSTANDARD = LVCMOS33;	# Extra pins
#NET "instr_mem_addr[22]" IOSTANDARD = LVCMOS33;	# Extra pins
#NET "instr_mem_addr[0]" DRIVE = 12;
#NET "instr_mem_addr[1]" DRIVE = 12;
#NET "instr_mem_addr[2]" DRIVE = 12;
#NET "instr_mem_addr[3]" DRIVE = 12;
#NET "instr_mem_addr[4]" DRIVE = 12;
#NET "instr_mem_addr[5]" DRIVE = 12;
#NET "instr_mem_addr[6]" DRIVE = 12;
#NET "instr_mem_addr[7]" DRIVE = 12;
#NET "instr_mem_addr[8]" DRIVE = 12;
#NET "instr_mem_addr[9]" DRIVE = 12;
#NET "instr_mem_addr[10]" DRIVE = 12;
#NET "instr_mem_addr[11]" DRIVE = 12;
#NET "instr_mem_addr[12]" DRIVE = 12;
#NET "instr_mem_addr[13]" DRIVE = 12;
#NET "instr_mem_addr[14]" DRIVE = 12;
#NET "instr_mem_addr[15]" DRIVE = 12;
#NET "instr_mem_addr[16]" DRIVE = 12;
#NET "instr_mem_addr[17]" DRIVE = 12;
#NET "instr_mem_addr[18]" DRIVE = 12;
#NET "instr_mem_addr[19]" DRIVE = 12;	# Extra pins
#NET "instr_mem_addr[20]" DRIVE = 12;	# Extra pins
#NET "instr_mem_addr[21]" DRIVE = 12;	# Extra pins
#NET "instr_mem_addr[22]" DRIVE = 12;	# Extra pins
#NET "instr_mem_addr[0]" SLEW = SLOW;
#NET "instr_mem_addr[1]" SLEW = SLOW;
#NET "instr_mem_addr[2]" SLEW = SLOW;
#NET "instr_mem_addr[3]" SLEW = SLOW;
#NET "instr_mem_addr[4]" SLEW = SLOW;
#NET "instr_mem_addr[5]" SLEW = SLOW;
#NET "instr_mem_addr[6]" SLEW = SLOW;
#NET "instr_mem_addr[7]" SLEW = SLOW;
#NET "instr_mem_addr[8]" SLEW = SLOW;
#NET "instr_mem_addr[9]" SLEW = SLOW;
#NET "instr_mem_addr[10]" SLEW = SLOW;
#NET "instr_mem_addr[11]" SLEW = SLOW;
#NET "instr_mem_addr[12]" SLEW = SLOW;
#NET "instr_mem_addr[13]" SLEW = SLOW;
#NET "instr_mem_addr[14]" SLEW = SLOW;
#NET "instr_mem_addr[15]" SLEW = SLOW;
#NET "instr_mem_addr[16]" SLEW = SLOW;
#NET "instr_mem_addr[17]" SLEW = SLOW;
#NET "instr_mem_addr[18]" SLEW = SLOW;
#NET "instr_mem_addr[19]" SLEW = SLOW;	# Extra pins
#NET "instr_mem_addr[20]" SLEW = SLOW;	# Extra pins
#NET "instr_mem_addr[21]" SLEW = SLOW;	# Extra pins
#NET "instr_mem_addr[22]" SLEW = SLOW;	# Extra pins
#NET "instr_mem_addr[0]" LOC = F15;
#NET "instr_mem_addr[1]" LOC = F16;
#NET "instr_mem_addr[2]" LOC = C17;
#NET "instr_mem_addr[3]" LOC = C18;
#NET "instr_mem_addr[4]" LOC = F14;
#NET "instr_mem_addr[5]" LOC = G14;
#NET "instr_mem_addr[6]" LOC = D17;
#NET "instr_mem_addr[7]" LOC = D18;
#NET "instr_mem_addr[8]" LOC = H12;
#NET "instr_mem_addr[9]" LOC = G13;
#NET "instr_mem_addr[10]" LOC = E16;
#NET "instr_mem_addr[11]" LOC = E18;
#NET "instr_mem_addr[12]" LOC = K12;
#NET "instr_mem_addr[13]" LOC = K13;
#NET "instr_mem_addr[14]" LOC = F17;
#NET "instr_mem_addr[15]" LOC = F18;
#NET "instr_mem_addr[16]" LOC = H13;
#NET "instr_mem_addr[17]" LOC = H14;
#NET "instr_mem_addr[18]" LOC = H15;
#NET "instr_mem_addr[19]" LOC = H16;	# Extra pins
#NET "instr_mem_addr[20]" LOC = G16;	# Extra pins
#NET "instr_mem_addr[21]" LOC = G18;	# Extra pins
#NET "instr_mem_addr[22]" LOC = J13;	# Extra pins
#NET "instr_mem_data[0]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_data[1]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_data[2]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_data[3]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_data[4]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_data[5]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_data[6]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_data[7]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_data[8]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_data[9]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_data[10]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_data[11]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_data[12]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_data[13]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_data[14]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_data[15]" IOSTANDARD = LVCMOS33;
#NET "instr_mem_data[0]" DRIVE = 12;
#NET "instr_mem_data[1]" DRIVE = 12;
#NET "instr_mem_data[2]" DRIVE = 12;
#NET "instr_mem_data[3]" DRIVE = 12;
#NET "instr_mem_data[4]" DRIVE = 12;
#NET "instr_mem_data[5]" DRIVE = 12;
#NET "instr_mem_data[6]" DRIVE = 12;
#NET "instr_mem_data[7]" DRIVE = 12;
#NET "instr_mem_data[8]" DRIVE = 12;
#NET "instr_mem_data[9]" DRIVE = 12;
#NET "instr_mem_data[10]" DRIVE = 12;
#NET "instr_mem_data[11]" DRIVE = 12;
#NET "instr_mem_data[12]" DRIVE = 12;
#NET "instr_mem_data[13]" DRIVE = 12;
#NET "instr_mem_data[14]" DRIVE = 12;
#NET "instr_mem_data[15]" DRIVE = 12;
#NET "instr_mem_data[0]" SLEW = SLOW;
#NET "instr_mem_data[1]" SLEW = SLOW;
#NET "instr_mem_data[2]" SLEW = SLOW;
#NET "instr_mem_data[3]" SLEW = SLOW;
#NET "instr_mem_data[4]" SLEW = SLOW;
#NET "instr_mem_data[5]" SLEW = SLOW;
#NET "instr_mem_data[6]" SLEW = SLOW;
#NET "instr_mem_data[7]" SLEW = SLOW;
#NET "instr_mem_data[8]" SLEW = SLOW;
#NET "instr_mem_data[9]" SLEW = SLOW;
#NET "instr_mem_data[10]" SLEW = SLOW;
#NET "instr_mem_data[11]" SLEW = SLOW;
#NET "instr_mem_data[12]" SLEW = SLOW;
#NET "instr_mem_data[13]" SLEW = SLOW;
#NET "instr_mem_data[14]" SLEW = SLOW;
#NET "instr_mem_data[15]" SLEW = SLOW;
#NET "instr_mem_data[0]" LOC = K14;
#NET "instr_mem_data[1]" LOC = L12;
#NET "instr_mem_data[2]" LOC = L13;
#NET "instr_mem_data[3]" LOC = K15;
#NET "instr_mem_data[4]" LOC = K16;
#NET "instr_mem_data[5]" LOC = L15;
#NET "instr_mem_data[6]" LOC = L16;
#NET "instr_mem_data[7]" LOC = H17;
#NET "instr_mem_data[8]" LOC = H18;
#NET "instr_mem_data[9]" LOC = J16;
#NET "instr_mem_data[10]" LOC = J18;
#NET "instr_mem_data[11]" LOC = K17;
#NET "instr_mem_data[12]" LOC = K18;
#NET "instr_mem_data[13]" LOC = L17;
#NET "instr_mem_data[14]" LOC = L18;
#NET "instr_mem_data[15]" LOC = M16;
#
#NET "instr_wen" IOSTANDARD = LVCMOS33;
#NET "instr_ren" IOSTANDARD = LVCMOS33;
#NET "instr_cs" IOSTANDARD = LVCMOS33;
#NET "instr_wen" DRIVE = 12;
#NET "instr_ren" DRIVE = 12;
#NET "instr_cs" DRIVE = 12;
#NET "instr_wen" SLEW = SLOW;
#NET "instr_ren" SLEW = SLOW;
#NET "instr_cs" SLEW = SLOW;
#NET "instr_wen" LOC = M18;
#NET "instr_ren" LOC = N17;
#NET "instr_cs" LOC = N18;
#
#NET "fb_mem_addr[0]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_addr[1]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_addr[2]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_addr[3]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_addr[4]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_addr[5]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_addr[6]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_addr[7]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_addr[8]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_addr[9]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_addr[10]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_addr[11]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_addr[12]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_addr[13]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_addr[14]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_addr[15]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_addr[16]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_addr[17]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_addr[18]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_addr[0]" DRIVE = 12;
#NET "fb_mem_addr[1]" DRIVE = 12;
#NET "fb_mem_addr[2]" DRIVE = 12;
#NET "fb_mem_addr[3]" DRIVE = 12;
#NET "fb_mem_addr[4]" DRIVE = 12;
#NET "fb_mem_addr[5]" DRIVE = 12;
#NET "fb_mem_addr[6]" DRIVE = 12;
#NET "fb_mem_addr[7]" DRIVE = 12;
#NET "fb_mem_addr[8]" DRIVE = 12;
#NET "fb_mem_addr[9]" DRIVE = 12;
#NET "fb_mem_addr[10]" DRIVE = 12;
#NET "fb_mem_addr[11]" DRIVE = 12;
#NET "fb_mem_addr[12]" DRIVE = 12;
#NET "fb_mem_addr[13]" DRIVE = 12;
#NET "fb_mem_addr[14]" DRIVE = 12;
#NET "fb_mem_addr[15]" DRIVE = 12;
#NET "fb_mem_addr[16]" DRIVE = 12;
#NET "fb_mem_addr[17]" DRIVE = 12;
#NET "fb_mem_addr[18]" DRIVE = 12;
#NET "fb_mem_addr[0]" SLEW = SLOW;
#NET "fb_mem_addr[1]" SLEW = SLOW;
#NET "fb_mem_addr[2]" SLEW = SLOW;
#NET "fb_mem_addr[3]" SLEW = SLOW;
#NET "fb_mem_addr[4]" SLEW = SLOW;
#NET "fb_mem_addr[5]" SLEW = SLOW;
#NET "fb_mem_addr[6]" SLEW = SLOW;
#NET "fb_mem_addr[7]" SLEW = SLOW;
#NET "fb_mem_addr[8]" SLEW = SLOW;
#NET "fb_mem_addr[9]" SLEW = SLOW;
#NET "fb_mem_addr[10]" SLEW = SLOW;
#NET "fb_mem_addr[11]" SLEW = SLOW;
#NET "fb_mem_addr[12]" SLEW = SLOW;
#NET "fb_mem_addr[13]" SLEW = SLOW;
#NET "fb_mem_addr[14]" SLEW = SLOW;
#NET "fb_mem_addr[15]" SLEW = SLOW;
#NET "fb_mem_addr[16]" SLEW = SLOW;
#NET "fb_mem_addr[17]" SLEW = SLOW;
#NET "fb_mem_addr[18]" SLEW = SLOW;
#NET "fb_mem_addr[0]" LOC = N4;
#NET "fb_mem_addr[1]" LOC = N3;
#NET "fb_mem_addr[2]" LOC = P4;
#NET "fb_mem_addr[3]" LOC = P3;
#NET "fb_mem_addr[4]" LOC = L6;
#NET "fb_mem_addr[5]" LOC = M5;
#NET "fb_mem_addr[6]" LOC = U2;
#NET "fb_mem_addr[7]" LOC = U1;
#NET "fb_mem_addr[8]" LOC = T2;
#NET "fb_mem_addr[9]" LOC = T1;
#NET "fb_mem_addr[10]" LOC = P2;
#NET "fb_mem_addr[11]" LOC = P1;
#NET "fb_mem_addr[12]" LOC = N2;
#NET "fb_mem_addr[13]" LOC = N1;
#NET "fb_mem_addr[14]" LOC = M3;
#NET "fb_mem_addr[15]" LOC = M1;
#NET "fb_mem_addr[16]" LOC = L2;
#NET "fb_mem_addr[17]" LOC = L1;
#NET "fb_mem_addr[18]" LOC = K2;
#NET "fb_mem_data[0]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_data[1]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_data[2]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_data[3]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_data[4]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_data[5]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_data[6]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_data[7]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_data[8]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_data[9]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_data[10]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_data[11]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_data[12]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_data[13]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_data[14]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_data[15]" IOSTANDARD = LVCMOS33;
#NET "fb_mem_data[0]" DRIVE = 12;
#NET "fb_mem_data[1]" DRIVE = 12;
#NET "fb_mem_data[2]" DRIVE = 12;
#NET "fb_mem_data[3]" DRIVE = 12;
#NET "fb_mem_data[4]" DRIVE = 12;
#NET "fb_mem_data[5]" DRIVE = 12;
#NET "fb_mem_data[6]" DRIVE = 12;
#NET "fb_mem_data[7]" DRIVE = 12;
#NET "fb_mem_data[8]" DRIVE = 12;
#NET "fb_mem_data[9]" DRIVE = 12;
#NET "fb_mem_data[10]" DRIVE = 12;
#NET "fb_mem_data[11]" DRIVE = 12;
#NET "fb_mem_data[12]" DRIVE = 12;
#NET "fb_mem_data[13]" DRIVE = 12;
#NET "fb_mem_data[14]" DRIVE = 12;
#NET "fb_mem_data[15]" DRIVE = 12;
#NET "fb_mem_data[0]" SLEW = SLOW;
#NET "fb_mem_data[1]" SLEW = SLOW;
#NET "fb_mem_data[2]" SLEW = SLOW;
#NET "fb_mem_data[3]" SLEW = SLOW;
#NET "fb_mem_data[4]" SLEW = SLOW;
#NET "fb_mem_data[5]" SLEW = SLOW;
#NET "fb_mem_data[6]" SLEW = SLOW;
#NET "fb_mem_data[7]" SLEW = SLOW;
#NET "fb_mem_data[8]" SLEW = SLOW;
#NET "fb_mem_data[9]" SLEW = SLOW;
#NET "fb_mem_data[10]" SLEW = SLOW;
#NET "fb_mem_data[11]" SLEW = SLOW;
#NET "fb_mem_data[12]" SLEW = SLOW;
#NET "fb_mem_data[13]" SLEW = SLOW;
#NET "fb_mem_data[14]" SLEW = SLOW;
#NET "fb_mem_data[15]" SLEW = SLOW;
#NET "fb_mem_data[0]" LOC = K1;
#NET "fb_mem_data[1]" LOC = L4;
#NET "fb_mem_data[2]" LOC = L3;
#NET "fb_mem_data[3]" LOC = J3;
#NET "fb_mem_data[4]" LOC = J1;
#NET "fb_mem_data[5]" LOC = H2;
#NET "fb_mem_data[6]" LOC = H1;
#NET "fb_mem_data[7]" LOC = K4;
#NET "fb_mem_data[8]" LOC = K3;
#NET "fb_mem_data[9]" LOC = L5;
#NET "fb_mem_data[10]" LOC = K5;
#NET "fb_mem_data[11]" LOC = H4;
#NET "fb_mem_data[12]" LOC = H3;
#NET "fb_mem_data[13]" LOC = L7;
#NET "fb_mem_data[14]" LOC = K6;
#NET "fb_mem_data[15]" LOC = G3;
#
#NET "fb_wen" IOSTANDARD = LVCMOS33;
#NET "fb_ren" IOSTANDARD = LVCMOS33;
#NET "fb_cs" IOSTANDARD = LVCMOS33;
#NET "fb_wen" DRIVE = 12;
#NET "fb_ren" DRIVE = 12;
#NET "fb_cs" DRIVE = 12;
#NET "fb_wen" SLEW = SLOW;
#NET "fb_ren" SLEW = SLOW;
#NET "fb_cs" SLEW = SLOW;
#NET "fb_wen" LOC = G1;
#NET "fb_ren" LOC = J7;
#NET "fb_cs" LOC = J6;
#
#NET "dac_clk" IOSTANDARD = LVCMOS33;
#NET "dac_clk" DRIVE = 12;
#NET "dac_clk" SLEW = FAST;
#NET "dac_sync" IOSTANDARD = LVCMOS33;
#NET "dac_sync" DRIVE = 12;
#NET "dac_sync" SLEW = FAST;
#NET "dac_clk" LOC = A11;
#NET "dac_sync" LOC = A12;
#NET "dac0_data" IOSTANDARD = LVCMOS33;
#NET "dac0_data" DRIVE = 12;
#NET "dac0_data" SLEW = FAST;
#NET "dac1_data" IOSTANDARD = LVCMOS33;
#NET "dac1_data" DRIVE = 12;
#NET "dac1_data" SLEW = FAST;
#NET "dac0_data" LOC = B11;
#NET "dac1_data" LOC = B12;
#
NET "reset" IOSTANDARD = LVCMOS33;
NET "reset" DRIVE = 12;
NET "reset" SLEW = SLOW;
NET "reset" LOC = A16;
NET "reset" PULLUP;

#NET "hdmi_clk" IOSTANDARD = LVDS_33;
#NET "hdmi_red" IOSTANDARD = LVDS_33;
#NET "hdmi_green" IOSTANDARD = LVDS_33;
#NET "hdmi_blue" IOSTANDARD = LVDS_33;
#NET "hdmi_clk" LOC = B2;
#NET "hdmi_red" LOC = B3;
#NET "hdmi_green" LOC = B4;
#NET "hdmi_blue" LOC = B6;
